* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
#body {
	font-family: sans-serif;
	max-width: auto;
	max-height: auto;
	padding: 10px;
	margin: 60px auto;
	align-items: center;
	background: #312761;
}

.containter {
	margin: auto;
	width: auto;
	text-align: center;
	background: #231e39;
	box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 75);
	color: white;
	text-align: left;
	padding: 20px;
	border-radius: 10px;
}

.containter:hover {
	margin: auto;
	width: auto;
	text-align: center;
	background: #4a436b;
	box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 75);
	color: black;
	text-align: left;
	padding: 20px;
	border-radius: 10px;
}

#buscar {
	display: block;
	margin: 10px auto;
	border: none;
}

#boton {
	display: block;
	margin: 10px auto;
}

#imagen {
	display: block;
	border-radius: 10px;
	width: 150px;
	border: 1px solid #03bfcb;
	margin: 10px auto;
}

#population,
#cases,
#Paises,
#active,
#todayCases,
#death,
#todayDeaths,
#critical,
#tests,
#todayRecovered,
#recoreved {
	background-color: #8479db;
	align-items: center;
	border-radius: 10px;
	border: 1px solid wheat;
	padding-left: 10px;
}

#country,
#continent {
	background-color: #8479db;
	align-items: center;
	border-radius: 10px;
	border: 1px solid wheat;
	padding-left: 10px;
	display: none;
}

/* @media (min-width: 400px) {
	body {
		align-items: center;
		margin: auto;
	}
}

@media (min-width: 800px) {
	body {
		align-items: center;
		margin: auto;
	}
} */
